# defaults
*.auth
.vscode/
deps
all
certs
conf-check
provision
install
webmail
*.log
*.eml

# local storage to work on develop
.localdata

# dev files
snappymail*.gz

# test data
tests/*.png
tests/*.log
